#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
  text-align: center;
}
header {
  margin: 0;
}

.navbar {
  display: flex;
  top: 0;
  justify-content: space-between;
  gap: 75vw;
}

.nav-links {
  list-style: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
